
<h1 class="ml-3"> Register</h1>
<div class="container">
    <form [formGroup]="form">
        <!-- ------------------------------------------------------------- -->
        <div class="form-group">
            <label for="username">Username</label>
            <input formControlName="username"  type="email" class="form-control" id="username">
            <div *ngIf="form.get('username').touched && form.get('username').invalid" class="alert alert-danger">
                  <div *ngIf="form.get('username').errors.required" >Username is required</div>
                  <div *ngIf="form.get('username').errors.email" >Username has proper format</div>
            </div>
          </div>
          <!-- ------------------------------------------------------------- -->
        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password"  type="password" class="form-control" id="password">
             <div *ngIf="form.get('password').touched && form.get('password').invalid" class="alert alert-danger">
                  <div *ngIf="form.get('password').errors.required" >Password is required</div>
                  <div *ngIf="form.get('password').errors.pattern" >Password has proper format</div>
            </div>
        </div>
          <!-- ------------------------------------------------------------- -->
        <div class="form-group">
            <label for="address">Address</label>
            <input formControlName="address"  type="text" class="form-control" id="address">
            <div *ngIf="form.get('address').touched && form.get('address').invalid" class="alert alert-danger">Address is Required</div>
          </div>
          <!-- ------------------------------------------------------------- -->
        <div class="form-group">
            <label for="state">State</label>
            <input formControlName="state"  type="text" class="form-control" id="text">
            <div *ngIf="form.get('state').touched && form.get('state').invalid" class="alert alert-danger">State is Required</div>
          </div>
          <!-- ------------------------------------------------------------- -->
        <div class="form-group">
            <label for="country">Country</label>
            <input formControlName="country"  type="text" class="form-control" id="country">
            <div *ngIf="form.get('country').touched && form.get('country').invalid" class="alert alert-danger">Country is Required</div>
          </div>
          <!-- ------------------------------------------------------------- -->
        <div class="form-group">
            <label for="contact">Contact No.</label>
            <input formControlName="contact"  type="text" class="form-control" id="contact">
            <div *ngIf="form.get('contact').touched && form.get('contact').invalid" class="alert alert-danger">
                <div *ngIf="form.get('contact').errors.required">Mobile number is required</div>
                <div *ngIf="form.get('contact').errors && !form.get('contact').errors.required">Mobile number is invalid</div>
            </div>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>